body{
    background-color: rgb(113, 114, 125);
    font-family: Arial, sans-serif;
}

[contenteditable] { 
    outline: 0px solid transparent; 
} 

#chatContainer{
    background-color: rgb(137, 137, 137);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    overflow-y: auto;
    overflow: hidden;
    max-width: 736px;
}

.messageContainer{
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.userMessage{
    background-color: white;
    /*background-color: rgb(52 53 65);*/
}

.assistantMessage{
    background-color: rgb(211, 211, 211);
    /*background-color: rgb(68 70 84);*/
}

.systemMessage{
    background-color: rgb(75, 75, 75);
    color: white;
    /*background-color: rgb(68 70 84);*/
}

#input{
    width: calc(100% - 20px);
    height: auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 10px;
    outline: none;
    resize: none;
}

.utilityButtonContainer{
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.buttonGroup{
    display: flex;
    justify-content: flex-end;
}

.treeControl {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.treeNode{
    font-size: 10px;
}

.messageContainer:hover .utilityButtonContainer{
    visibility: visible;
}

.messageContainer:nth-child(2) .delete{
    visibility: hidden;
}

.messageUtility > svg{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: auto;
    color: #7e7e7e;
}

.messageUtility{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 30%;
    width: 24px;
    height: 24px;
    padding: 2px;
}

.userMessage .messageUtility:hover{
    background-color: lightgray;
}
.assistantMessage .messageUtility:hover{
    background-color: white;
}
.systemMessage .messageUtility:hover{
    background-color: lightgray;
}

.editButtons{
    display: none;
    margin-top: 10px;
    justify-content: center;
}

.editButtonsBottom{
    margin-top: 10px;
    justify-content: center;
    display: flex;
    width: 100%;
}

.editButtonsButton{
    background-color: rgb(233, 233, 233);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin: 5px;
    width: 110px;
    height: 40px;
}

.stopGenerating{
    background-color: rgb(233, 233, 233);
}

.generateButton{
    background-color: rgb(48, 204, 165);
}

.rotate-180{
    transform: rotate(180deg);
}

.down, .up{
    padding: 5px;
}

.userSelect {
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
    font-weight: bold;
    text-align: left;
    border: 1px solid rgb(45, 45, 45);
}

.userSelect:hover {
    background-color: rgb(163, 163, 163);
}

.message{
    margin-left: 3px;
}

#templates{
    display: none;
}

#tree-container {
    width: 100%;
    height: 100vh; /* Adjust based on your needs */
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLine{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonLine > .btnContainer{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 17px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 204, 165);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 13px;
}

.buttonLine > .btnContainer > .btnNumber{
    margin-left: 5px;
    user-select: text;
}

.btnContainer .modelSelect{
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(48, 204, 165);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.btnContainer .modelSelect:hover{
    background-color: rgba(70, 122, 109, 0.7);
}

.btnContainer .modelSelect:focus{
    outline: none;
}

.settingsSelector{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(186, 186, 186);
    border: 4px solid rgb(48, 204, 165);
    width: 150px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    top: 0;
    left: 0;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 9px;
    border-radius: 15px;  
    background: #565656;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#errorMessageContainer{
    position: relative;
    background-color: rgb(206, 39, 39, 0.7);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 10px;
    width: calc(100% - 50px*2);
    margin-left: 50px;
    margin-right: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 15px;
    border-radius: 10px;
}

.closeError{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#tree-simple{
    display: none;
}

.chatArea{
    margin-left: 230px;
}

.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    background-color: rgb(32, 33, 35);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: white;
    scrollbar-gutter: stable both-edges;
}

.chats{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.chat{
    padding: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: rgb(32, 33, 35);
    border-radius: 12px;
    display: flex;
    margin: 5px;
    width: calc(100% - 34px);
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.chats .chat{
    cursor: pointer;
    padding-right: 3px;
    width: calc(100% - 25px);
}

.chat .left-content, .chat .right-content {
    display: flex;
    align-items: center;
    gap: 8px;
}


.chat .right-content{
    gap: 4px;
}

.chat.selected{
    background-color: rgb(52, 53, 65);
}

.chat.selected .chatsButton{
    visibility: visible;
}

.chats .chat:hover:not(.selected){
    background-color: rgb(52, 53, 65, 0.5);
}

.chat p{
    margin: 0;
    font-size: 14px;
}

.chatsButton{
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    visibility: hidden;
}

.chatName{
    white-space: nowrap;
    overflow: hidden;
    border-radius: 2px;
    max-width: 128px;
}

.chatName:focus{
    outline: 2px solid rgb(48, 204, 165);
}

.chatsButton svg {
    width: 15px;  /* Adjust this value to scale the SVG appropriately */
    height: 15px; /* This should generally match the width to maintain aspect ratio */
    align-self: center; /* Ensures vertical alignment in flex container */
}

.chatsButtonYes svg, .chatsButtonNo svg{
    padding-top: 3px;
}

.chatsButtonDelete svg, .chatsButtonEdit svg{
    padding-top: 1px;
}



.chatsButton:hover{
    background-color: rgb(103, 103, 103);
    border-radius: 30%;
}

.chatsButtonYes, .chatsButtonNo{
    display: none;
}

.newChatButton, .searchBar, .opensettings, .feedback, .videos{
    background-color: transparent;
    outline: none;
    text-align: center;
    justify-content: left;
    color: white;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 10px;
    width: calc(100% - 20px);
    height: 45px;
}

.opensettings, .feedback, .videos{
    width: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    border-top: 2px solid rgb(51, 51, 51);
    cursor: pointer;
}

.opensettings svg, .feedback svg, .videos svg{
    width: 16px;
    margin-right: 10px;
}

.feedback svg{
    width: 20px;
    margin-right: 8px;
    margin-left: -2px;
}

.videos svg{
    width: 20px;
    margin-right: 6px;
}

.newChatButton{
    cursor: pointer;
}

.newChatButton:hover{
    background-color: rgb(51, 51, 51);
    transition: 0.2s;
}

.newChatButton svg{
    margin-left: 8px;
    margin-right: 10px;
    font-size: 16px;
}


.searchBar{
    width: calc(100% - 48px);
    height: 15px;
}

.searchBar input{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    color: white;
    width: 100%;
}

.tokensCost{
    height: 0px;
    color: rgb(224, 224, 238);
    font-size: 12px;
    font-style: italic;
    text-align: right;
    width: 100%;
}

.tokensCost p{
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: rgb(32, 33, 35); 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #747474; 
}

.nofound{
    display: none;
}

































.settings {
    display: none;
    position: absolute;
    z-index: 5;
    width: 80%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.settingsContent {
    max-width: 600px;
    margin: 0 auto;
}

.settingsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsHeader h1 {
    font-size: 24px;
}

.settingsContainer {
    margin-top: 15px;
}

.settingsGroup {
    margin-bottom: 18px;
}

.settingsGroup p {
    font-size: 18px;
}

.settingsGroup select, .settingsGroup input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.settingsButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.settingsButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.saveSettings {
    background-color: #4CAF50;
    color: white;
}

.cancelSettings {
    background-color: #f44336;
    color: white;
}

.defaultSystemPrompt{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    resize: none;
}



pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}.hljs{background:#f3f3f3;color:#444}.hljs-comment{color:#697070}.hljs-punctuation,.hljs-tag{color:#444a}.hljs-tag .hljs-attr,.hljs-tag .hljs-name{color:#444}.hljs-attribute,.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-name,.hljs-selector-tag{font-weight:700}.hljs-deletion,.hljs-number,.hljs-quote,.hljs-selector-class,.hljs-selector-id,.hljs-string,.hljs-template-tag,.hljs-type{color:#800}.hljs-section,.hljs-title{color:#800;font-weight:700}.hljs-link,.hljs-operator,.hljs-regexp,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-symbol,.hljs-template-variable,.hljs-variable{color:#ab5656}.hljs-literal{color:#695}.hljs-addition,.hljs-built_in,.hljs-bullet,.hljs-code{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta .hljs-string{color:#38a}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}